language: generic

os:
  - linux

sudo: required

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-5
      - g++-5
      - build-essential
      - cmake
      - cmake-data
      - git
      - libgtk2.0-dev
      - pkg-config
      - libavcodec-dev
      - libavformat-dev
      - libswscale-dev
      - python-dev
      - python-numpy
      - libtbb2
      - libtbb-dev
      - libjpeg-dev
      - libpng-dev
      - libtiff-dev
      - libjasper-dev
      - libdc1394-22-dev
      - unzip
      
env: GCC_VERSION=5 CPP=11 COMPILER=g++-5 CXX=g++-5 CC=gcc-5
    
install:
  - sudo apt-get install libtiff5 libtiff5-dev 
  - sudo unlink /usr/bin/gcc && sudo ln -s /usr/bin/gcc-5 /usr/bin/gcc
  - sudo unlink /usr/bin/g++ && sudo ln -s /usr/bin/g++-5 /usr/bin/g++
  - git clone https://github.com/Itseez/opencv.git
  - cd opencv
  - mkdir build
  - cd build
  - cmake ..
  - make -j8
  - sudo make -j8 install
  - export OPENCV_DIR=/usr/local/lib
  - cd ../../build
  - wget https://github.com/livecv/livecv-deploy-kit/archive/master.zip
  - unzip master.zip
  - mv livecv-deploy-kit-master/* .
  - wget http://download.qt.io/official_releases/qt/5.7/5.7.0/qt-opensource-linux-x64-5.7.0.run
  - sudo chmod 777 qt-opensource-linux-x64-5.7.0.run
  - ./qt-opensource-linux-x64-5.7.0.run --script resources/install-qt.qs --verbose --silent -platform minimal
  - export QTDIR=/opt/qt/5.7/gcc_64
  
    
script:
  - ls
  - python3 livecv_build.py
  - ls
  - python3 livecv_deploy.py -d gcc
  - python3 livecv_deploy.py -d gcc_standalone

before_deploy:
  - ls
  - ls *.tar.gz
  - export LIVECV_STANDALONE=$(ls *.tar.gz | tail -n +1 | head -1)
  - export LIVECV=$(ls *.tar.gz | tail -n +2 | head -1)
  - echo ${LIVECV_STANDALONE}
  - echo ${LIVECV}
 
deploy:
  provider: releases
  api_key:
    - secure: "wKQ72qKQ6MkNC5eZwUBv2PdyRkVYZBO12cNz8VCvc43gTuUh3azbzRVH/tN/SPg75zimjWsex8FLUgZRJFNW/z6e4SnzVhKIx6oKROmKgx7NXU9wdEFgSQ0MGXwGidDAPaWEYBbO/zppOHp6iDW/qv5lmhlT+nh4z6YqOzKoHlYf2DW0RgEZG4anYFg3NTDYtdvOreYRq6C9T2siL65mipeyJjkcC5SA/2JKDcGUfof6zknb/eZ1F17YnlN9QbfxFE0KvN4UrROAncEOg8YzE7p3kq348c0+f1XVuaOhIVVrf+h8d4HKuCofFyAv78t8OgYfZWJP2BG1kUD5Fj89rxRJzZls7h08l9A9CQpQDfSxVHuqIxEmUAaAixQ27VGw9lWax1hTheRoI85bzkdBZuL6kGmCCroQHfjFj5GF5LrfhH/KudXDFyP9EA8NdMicDAE7JVEoyrn9KSeS1/4QnOW5MLUNsZNU3B0r5zbabuW+/auVgtgOBY2hCkRoGjzWVPcdgvY2JhdZzFGLVmAeJG7rkD5GTsMhKCZDb71NaRhKPf9WfORqM/b3ZxKfUxGFtAG32jBLIG/HuxsLVH2EHmZ1O1AWtwi15brXYD2SwbAw0i+TBw4p8nAJLlII1c3+a26CjToJpbZrquRzHU5zm3FJLSSLK3OSjvM/SyaqUyM="
  file_glob: true
  file: 
    - "${LIVECV_STANDALONE}"
    - "${LIVECV}"
  skip_cleanup: true
  on:
    tags: true
