language: generic

os:
  - linux

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-5
env: GCC_VERSION=5 CPP=11 COMPILER=g++-5 CXX=g++-5 CC=gcc-5

before_install:
  - sudo add-apt-repository ppa:beineri/opt-qt562 -y
  - sudo apt-get update -qq
    
install:
  - sudo apt-get install -qq qt56base qt56declarative qt56quickcontrols qt56quickcontrols2 qt56script qt56imageformats qt56multimedia qt56websockets
  - sudo apt-get install cmake-data cmake unzip
    
    
before_script:
  - git clone https://github.com/Itseez/opencv.git
  - cd opencv
  - mkdir build
  - cd build
  - cmake ..
  - make -j8
  - sudo make -j8 install
  - cd ../..
    
script:
  - source /opt/qt56/bin/qt56-env.sh
  - cd build
  - wget https://github.com/livecv/livecv-deploy-kit/archive/master.zip
  - unzip master.zip
  - mv livecv-deploy-kit-master/* .
  - export OPENCV_DIR=/usr/local/lib
  - ls
  - python3 livecv_build.py
  - ls
  - python3 livecv_deploy.py -d gcc
  - python3 livecv_deploy.py -d gcc_standalone
