os: unstable

platform:
  - x64

environment:
  matrix:
    - PYTHON: "C:\\Python35"
      PYTHON_VERSION: "3.5.0"
      PYTHON_ARCH: "32"

install:
  - choco install opencv -version 3.1.0.20160701

before_build:
  - SET ARCH=x64
  - SET APP_PATH=%CD%
  - IF EXIST C:\OpenCV* CD C:\OpenCV*
  - SET OPENCV_ROOT_PATH=%CD%\opencv
  - CD %APP_PATH%
  - SET OPENCV_DIR=%OPENCV_ROOT_PATH%\build\%ARCH%\vc12
  - SET QTDIR=C:\Qt\5.7\msvc2013_64
  - ps: (new-object System.Net.WebClient).Downloadfile("https://github.com/livecv/livecv-deploy-kit/archive/master.zip", "kit.zip")
  - 7z x -y "kit.zip" -o"." > nul
  - dir
  - SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%
  - python --version
  - python livecv_build.py
  - python livecv_deploy.py
  - python livecv_build.py -b 64
  - python livecv_deploy.py -b 64

# TODO: Add clone of livecv-deploy-kit

build_script:
  - CD build
  - cmake -G "Visual Studio 12 2013 Win64" ../tests
  - msbuild TegroundLib.sln
